.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.logo {
  display: flex;
  width: 500px;
  height: 300px;
  margin-top: -3em;
  margin-left: -5em;
}

.time {
  text-align: right;
  margin-right: 5em;
}

.date {
  font-weight: bold;
  font-size: 3em;
}

.hour {
  font-size: 2em;
}


